#########################
# .NET
#########################

bin/
obj/

*.user
*.suo

.vs/

#########################
# Node
#########################

ui/node_modules/
ui/dist/

#########################
# IDE
#########################

.vscode/
.idea/

#########################
# Logs
#########################

*.log

#########################
# Environment
#########################

.env
.env.*

#########################
# OS
#########################

.DS_Store
Thumbs.db